.App {
  text-align: center;
  background-color: #151719;
  background-image: url('/home/lp6/Documents/react-template/newtemplate/public/images/headerImg.svg');
  background-repeat: no-repeat;
  background-position: top;
  overflow: scroll!important;
  
}




a{

  text-decoration: none!important;
}